body
{
    background-image: url("{{ url_for('\LearningFlask-master\static', filename='Fon.jpg') }}");
    background-attachment: fixed;
    line-height: 1.5;
    margin: 0;
}
.pic
{
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #efefef;
    background: linear-gradient(-20deg, rgba(65, 65, 65, 1), rgba(15, 15, 15, 1));
    width: 1600px;
    border: 4px solid black;
    margin: 25px auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 5px;
}
h1 {
    background-image: url("static/images/grad2.jpg") no-repeat;
    border: 3px solid black;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #efefef;
    width: 800px;
    margin: 35px auto;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}
img
{
    border: 1px solid;
    border-radius: 2%;
    padding 10xp 10px;
    width: 80%;
    height: 80%;
    margin: auto;
    animation: 2s fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
p {
    color: white;
}