<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Сайт за 5 секунд</title>
        <meta charset="uft-8">
    </head>
    <body>
        <div>
            <h1>Пикчи</h1>
        </div>
        <div class="pic">
            <p>Пикча №1</p>
            <img src="{{ url_for('static', filename='/images/idk.jpg') }}" alt="Idk"/>
            <p>Пикча №2</p>
            <img src="{{ url_for('static', filename='/images/smoke.jpg') }}" alt="Smoke">
            <p>Пикча №3</p>
            <img src="{{ url_for('static', filename='/images/house.jpg') }}" alt="House">
            <p>Пикча №4</p>
            <img src="{{ url_for('static', filename='/images/big_donut.jpg') }}" alt="Big donut">
            <p>Пикча №5</p>
            <img src="{{ url_for('static', filename='/images/mushrooms.jpg') }}" alt="Mushrooms">
            <p>Пикча №6</p>
            <img src="{{ url_for('static', filename='/images/abandoned_library.jpg') }}" alt="Abandoned library">
            <p>Пикча №7</p>
            <img src="{{ url_for('static', filename='/images/bass.jpg') }}" alt="Bass">
            <p>Пикча №8</p>
            <img src="{{ url_for('static', filename='/images/forest.jpg') }}" alt="Forest">
            <p>Пикча №9</p>
            <img src="{{ url_for('static', filename='/images/wow.jpg') }}" alt="Wow">


        </div>

    </body>
</html>
